<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-lazy-init="true">

    <context:component-scan base-package="com.bingdou.api">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="cdnServiceFactory" class="com.bingdou.api.service.CdnServiceFactory">
        <property name="cdnServiceList">
            <list>
                <ref local="upYunService" />
                <ref local="chinaNetService" />
                <ref local="ccService" />
            </list>
        </property>
    </bean>

    <bean id="methodServiceFactory" class="com.bingdou.core.service.MethodServiceFactory">
        <property name="methodServiceList">
            <list>
                <ref local="createLiveService" />
                <ref local="findLiveService" />
                <ref local="getLiveInfoService" />
                <ref local="removeLiveService" />
                <ref local="replayService" />
                <ref local="streamEndService" />
                <ref local="streamStartService" />
                <ref local="updateLiveService" />
                <ref local="homePageService" />
                <ref local="getLiveCommentsService" />
                <ref local="entryService" />
                <ref local="exitService" />
                <ref local="getChatTokenService" />
                <ref local="updateAnnounceService" />
                <ref local="discoveryService" />
                <ref local="homeFollowService" />
                <ref local="getUserLivesService" />
                <ref local="buyLiveService" />
                <ref local="getGiftListService" />
                <ref local="sendGiftService" />
                <ref local="addGiftService" />
                <ref local="updateGiftService" />
                <ref local="getLiveTagsService" />
                <ref local="addLiveTagService" />
                <ref local="getTagLiveService" />
                <ref local="reportShareService" />
                <ref local="reportChatroomService" />
            </list>
        </property>
    </bean>

</beans>