<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingdou.core.mapper.live.ISendGiftMapper">

    <insert id="addSendGift" parameterType="java.util.Map">
        <![CDATA[
          INSERT INTO ${liveDB}.lc_gift_send_log
          (mid,host_id,live_id,gift_id,send_money,send_num,create_time)
          VALUE(#{mid},#{hostId},#{liveId},#{giftId},#{sendMoney},#{sendNum},now())
        ]]>
    </insert>

    <select id="getReceiveMoneyByHostId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <![CDATA[
        SELECT
          sum(send_money)
        FROM ${liveDB}.lc_gift_send_log
        WHERE host_id=#{hostId}
        ]]>
    </select>

    <select id="getSendMoneyByMid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <![CDATA[
        SELECT
          sum(send_money)
        FROM ${liveDB}.lc_gift_send_log
        WHERE mid=#{mid}
        ]]>
    </select>

    <select id="getSendUserList" parameterType="java.lang.Integer" resultMap="userDetail">
        <![CDATA[
        SELECT
          sum(sl.send_money) as money,mmi.id,mmi.nickname,mmi.gender,mmi.avatar,mmi.cpid,mmi.signature
          from ${liveDB}.lc_gift_send_log sl
          left join ${userDB}.mc_member_index mmi on sl.mid=mmi.id
          WHERE sl.host_id=#{hostId}
          group by sl.mid order by money DESC limit #{start},#{limit}
        ]]>
    </select>

    <resultMap id="userDetail" type="com.bingdou.core.model.live.ContributeUserRank">
        <result property="id" column="id"/>
        <result property="gender" column="gender"/>
        <result property="cpId" column="cp_id"/>
        <result property="nickName" column="nickname"/>
        <result property="signature" column="signature"/>
        <result property="avatar" column="avatar"/>
        <result property="money" column="money"/>
    </resultMap>
</mapper>