<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingdou.core.mapper.live.ILiveMapper">

    <select id="getLiveById" parameterType="java.lang.Integer" resultMap="liveDetail">
        <![CDATA[
        SELECT
          li.id,ll.live_title,ll.live_picture,li.status,li.mid,li.push_stream,li.pull_stream,li.replay_url
        FROM ${liveDB}.lc_live_index li
        JOIN ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)} ll ON li.id=ll.lid
        WHERE li.id=#{liveId}
        ]]>
    </select>

    <insert id="addLive" parameterType="java.util.Map">
        <![CDATA[
          INSERT INTO ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
          (live_title,live_picture,status,stream_name,mid,live_type,push_stream,pull_stream,h5_url,create_time,update_time)
          VALUE(#{liveTitle},#{livePicture},1,#{streamName},#{mid},#{liveType},#{pushStream},#{pullStream},#{h5Url},now(),now())
        ]]>
    </insert>

    <insert id="addLiveIndex" parameterType="com.bingdou.core.model.live.Live">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        <![CDATA[
          INSERT INTO ${liveDB}.lc_live_index(id,live_title,live_picture,push_stream,status,pull_stream,
          h5_url,stream_name,mid,tags,password,price,reward_percent,orientation,live_type,create_time,update_time)
          VALUE(#{id},#{liveTitle},#{livePicture},#{pushStream},#{status},#{pullStream},#{h5Url},
          #{streamName},#{mid},#{tags},#{password},#{price},#{rewardPercent},#{orientation},#{liveType},now(),now())
        ]]>
    </insert>

    <select id="getFocusLiveListByUserId" parameterType="java.util.Map" resultMap="liveDetail">
        SELECT li.id,li.live_picture,li.live_title,li.push_stream,li.pull_stream,li.replay_url,li.h5_url,li.mid,
        ml.avatar,ml.signature,ml.gender,ml.nickname,ml.cpid,li.status,li.orientation,
        li.start_time,li.end_time,li.create_time,li.update_time
        FROM ${userDB}.mc_focus_info fi
        JOIN ${liveDB}.lc_live_index li  ON li.mid = fi.follow_id
        JOIN ${userDB}.mc_member_index ml ON li.mid = ml.id
        WHERE fi.mid=#{userId} AND li.status != -1
        GROUP BY fi.follow_id
        ORDER BY li.status,li.create_time DESC limit #{start},#{limit}
    </select>

    <select id="getLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        SELECT li.id,li.live_picture,li.live_title,li.push_stream,li.pull_stream,li.replay_url,li.h5_url,li.mid,
        ml.avatar,ml.signature,ml.gender,ml.nickname,ml.cpid,li.status,li.orientation,
        li.start_time,li.end_time,li.create_time,li.update_time
        FROM ${liveDB}.lc_live_index li
        JOIN ${userDB}.mc_member_index ml ON li.mid = ml.id
        WHERE 1=1 AND li.status != -1
        <if test="status != null">
            <if test="status == 3">
                AND (li.status= 1 OR li.status = 2)
            </if>
            <if test="status != 3">
                AND li.status= #{status}
            </if>
        </if>
        <if test="userId != null">
          AND li.mid = #{userId}
        </if>
        order by li.status,li.create_time desc limit #{start},#{limit}
    </select>

    <select id="getOnlineLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT id,live_picture FROM ${liveDB}.lc_live_index WHERE status=1 and live_type=1 order by create_time DESC limit #{start},#{limit}
        ]]>
    </select>

    <select id="getRecordLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT id,live_picture FROM ${liveDB}.lc_live_index WHERE status=1 and live_type=2 order by create_time DESC limit #{start},#{limit}
        ]]>
    </select>

    <select id="getLiveByStreamName" parameterType="java.util.Map" resultType="java.lang.Integer">
        <![CDATA[
        SELECT count(1)  FROM ${liveDB}.lc_live_index WHERE stream_name=#{streamName}
        ]]>
    </select>

    <select id="getLiveInfoByStreamName" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT
          id,live_title,live_picture,status,mid,push_stream,pull_stream,h5_url,orientation,create_time,update_time
        FROM ${liveDB}.lc_live_index
        WHERE stream_name=#{streamName}
        ]]>
    </select>

    <update id="updateLiveIndex" parameterType="java.util.Map">
        update ${liveDB}.lc_live_index
        set status=#{status},update_time=now()
        <if test="replayUrl != null">
            ,replay_url=#{replayUrl}
        </if>
        <if test="startTime != null">
            ,start_time=now()
        </if>
        <if test="endTime != null">
            ,end_time=now()
        </if>
        where id=#{liveId}
    </update>

    <update id="updateLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status},update_time=now()
        where lid=#{liveId}
    </update>

    <update id="updateStartLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status},start_time=now()
        where lid=#{liveId}
    </update>

    <update id="updateEndLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status},replay_url=#{replayUrl},end_time=now()
        where lid=#{liveId}
    </update>

    <update id="updateAnnounceLive" parameterType="com.bingdou.core.model.live.Live">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set live_title=#{liveTitle},live_picture=#{livePicture},orientation=#{orientation},
        password=#{password},price=#{price},reward_percent=${rewardPercent}
        where lid=#{liveId}
    </update>

    <update id="updateAnnounceLiveIndex" parameterType="com.bingdou.core.model.live.Live">
        update ${liveDB}.lc_live_index
        set live_title=#{liveTitle},live_picture=#{livePicture},orientation=#{orientation},
        password=#{password},price=#{price},reward_percent=${rewardPercent}
        where id=#{liveId}
    </update>

    <resultMap id="liveDetail" type="com.bingdou.core.model.live.Live">
        <result property="id" column="id"/>
        <result property="liveTitle" column="live_title"/>
        <result property="livePicture" column="live_picture"/>
        <result property="status" column="status"/>
        <result property="orientation" column="orientation"/>
        <result property="pushStream" column="push_stream"/>
        <result property="pullStream" column="pull_stream"/>
        <result property="replayUrl" column="replay_url"/>
        <result property="h5Url" column="h5_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="user" javaType="com.bingdou.core.model.User">
            <id property="id" column="mid"/>
            <result property="gender" column="gender"/>
            <result property="nickName" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="signature" column="signature"/>
            <result property="cpId" column="cpid"/>
        </association>
    </resultMap>

</mapper>