<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingdou.core.mapper.live.ILiveMapper">

    <select id="getLiveById" parameterType="java.lang.Integer" resultMap="liveDetail">
        <![CDATA[
        SELECT
          li.id,ll.live_title,ll.live_picture,li.status,li.mid,li.push_stream,li.pull_stream,li.replay_url
        FROM ${liveDB}.lc_live_index li
        JOIN ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)} ll ON li.id=ll.lid
        WHERE li.id=#{liveId}
        ]]>
    </select>

    <insert id="addLive" parameterType="java.util.Map">
        <![CDATA[
          INSERT INTO ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
          (live_title,live_picture,status,stream_name,mid,live_type,push_stream,pull_stream,replay_url,h5_url,create_time,update_time)
          VALUE(#{liveTitle},#{livePicture},1,#{streamName},#{mid},#{liveType},#{pushStream},#{pullStream},#{replayUrl},#{h5Url},now(),now())
        ]]>
    </insert>

    <insert id="addLiveIndex" parameterType="com.bingdou.core.model.live.Live">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        <![CDATA[
          INSERT INTO ${liveDB}.lc_live_index(id,live_title,live_picture,push_stream,status,pull_stream,
          replay_url,h5_url,stream_name,mid,tags,password,price,reward_percent,orientation)
          VALUE(#{id},#{liveTitle},#{livePicture},#{pushStream},#{status},#{pullStream},#{replayUrl},#{h5Url},
          #{streamName},#{mid},#{tags},#{password},#{price},#{rewardPercent},#{orientation})
        ]]>
    </insert>

    <select id="getLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        SELECT li.id,li.live_picture,li.live_title,li.push_stream,li.pull_stream,li.replay_url,li.mid,
        ml.avatar,ml.signature,ml.gender,ml.nickname,ml.cpid
        FROM ${liveDB}.lc_live_index li
        JOIN ${userDB}.mc_member_index ml ON li.mid = ml.id
        WHERE 1=1
        <if test="status != null">
          AND li.status=#{status}
        </if>
        <if test="userId != null">
          AND li.mid = #{userId}
        </if>
        order by update_time limit #{start},#{limit}
    </select>

    <select id="getOnlineLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT id,live_picture FROM ${liveDB}.lc_live_index WHERE status=1 and live_type=1 order by update_time limit #{start},#{limit}
        ]]>
    </select>

    <select id="getRecordLiveList" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT id,live_picture FROM ${liveDB}.lc_live_index WHERE status=1 and live_type=2 order by update_time limit #{start},#{limit}
        ]]>
    </select>

    <select id="getLiveByStreamName" parameterType="java.util.Map" resultType="java.lang.Integer">
        <![CDATA[
        SELECT count(1)  FROM ${liveDB}.lc_live_index WHERE stream_name=#{streamName}
        ]]>
    </select>

    <select id="getLiveInfoByStreamName" parameterType="java.util.Map" resultMap="liveDetail">
        <![CDATA[
        SELECT
          id,live_title,live_picture,status,mid,push_stream,pull_stream
        FROM ${liveDB}.lc_live_index
        WHERE stream_name=#{streamName}
        ]]>
    </select>

    <update id="updateLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status}
        where lid=#{liveId}
    </update>

    <update id="updateStartLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status},start_time=now()
        where lid=#{liveId}
    </update>

    <update id="updateEndLive" parameterType="java.util.Map">
        update ${liveDB}.lc_live${@com.bingdou.core.model.live.Live@getTableNumber(liveId)}
        set status=#{status},replay_url=#{replayUrl},endTime=now()
        where lid=#{liveId}
    </update>

    <resultMap id="liveDetail" type="com.bingdou.core.model.live.Live">
        <result property="id" column="id"/>
        <result property="liveTitle" column="live_title"/>
        <result property="livePicture" column="live_picture"/>
        <result property="status" column="status"/>
        <result property="pushStream" column="push_stream"/>
        <result property="pullStream" column="pull_stream"/>
        <result property="replayUrl" column="replay_url"/>
        <association property="user" javaType="com.bingdou.core.model.User">
            <id property="id" column="mid"/>
            <result property="gender" column="gender"/>
            <result property="nickName" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="signature" column="signature"/>
            <result property="cpId" column="cpid"/>
        </association>
    </resultMap>

</mapper>