<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingdou.core.mapper.user.IDeviceMapper">

    <select id="getAndroidDeviceCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(1) FROM ${payDB}.mc_device_android
        WHERE mac = #{mac} AND imei = #{imei}
        AND androidid = #{androidId} and androidsn = #{androidSn}
        ]]>
    </select>

    <select id="getIosDeviceCountByIdfa" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(1) FROM ${payDB}.mc_device_ios WHERE idfa = #{idfa}
        ]]>
    </select>

    <insert id="insertAndroidDevice" parameterType="java.util.Map">
        <![CDATA[
          INSERT INTO ${payDB}.mc_device_android(mac,imei,androidid,androidsn)
          VALUE(#{mac},#{imei},#{androidId},#{androidSn})
        ]]>
    </insert>

    <insert id="insertIosDevice" parameterType="java.util.Map">
        <![CDATA[
          INSERT INTO ${payDB}.mc_device_ios(idfa,mlb,snstr)
          VALUE(#{idfa},'','')
        ]]>
    </insert>

</mapper>